[core]
	editor = /usr/bin/env nvim
[user]
	name = Fabrice Luraine
	email = 16@asciiland.net
[push]
	default = simple
[color]
	ui = true
[alias]
  # list all aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # list conflicted files
  lc = "!git diff --name-only --diff-filter=U"
  
  # log
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate 
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)%ad" --decorate --numstat --date=format:'%Y-%m-%d %H:%M:%S'
  lf = log --format=fuller --graph 
  
  # show modified files in last commit
  last = "!git ll -1"
  # show modified files names in last commit
  lastedit = log --pretty=format: --name-only -n 1
  # new files / untracked files
  untracked = git ls-files -o  --exclude-standard
  
  # show a diff last commit
  dlast = diff --cached HEAD^
  
  # find a file path in codebase
  f = "!git ls-files | grep -i"

  # shortcuts
  st = status -v
  ad = add -p
  ci = commit -v
  cia = commit -av
  pullr = pull --rebase

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
